.app {
    width: 100%;
    height: 100%;

    .pages {
        position: relative;
        width: 100%;
        height: 100%;

        .page {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.fade-appear,
.fade-enter {
    opacity: 0;
    transform: translateY(50px);
}

.fade-appear-active,
.fade-enter-active {
    transition: all 0.5s cubic-bezier(0, 0.65, 0.35, 1) 0.5s;
    opacity: 1;
    transform: translateY(0);
}

.fade-exit {
    transition: all 0.5s cubic-bezier(0, 0.65, 0.35, 1);
    opacity: 1;
    transform: translateY(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(-50px);
}